.flag{
    background-color: #3d3d3d;
    width: 860px;
    height: 400px;
    margin:0 auto;}

.blue{
    background-color: #00b5e2;
    width: 860px;
    height: 50%;
    float: left;
}
.red{
    background-color:#ef3340 ;
    width: 860px;
    height: 50%;
    float: left;
}
.green{
    background-color:#509e2f ;
    width: 860px;
    height: 50%;
    float: left;
}