
.container{
    width: 1860px;
    height: 750px;
 
}
.portofolio{
    width: 1140px;
    height: 490px;
   margin: 100px  350px;
   display: grid;
   grid-template-columns: 1fr  1fr  1fr;
   gap: 10px;
   
}
.item{
    border: 1px  solid blue
    
}
.mid-item{
    border: 1px solid  green;
    display: grid;
    grid-column: 2/3;
    grid-row: 1/3;
}